.PsyHomePage{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  background: #F7F8FD;
  color: #585858;
  font-family:'Noto Sans Thai', sans-serif;
}

.PsyHomePage .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
    /* border: solid 0.5px; */
}

.PsyHomePage  .Content{
    position: relative;
    width: 70%;
    height: 100%;
    /* background: #454855; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* border: solid 0.5px; */
}

.PsyHomePage .Carendar{
    position: relative;
    flex-grow: 1;    
    height: 100%;
    /* border: solid 0.5px; */
    background: #dadada;
}

.Patient-list .Psy-No-Data{
  background: url('../../../assets/noData.gif');
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 110px; 
  
  border: 5px solid transparent ; 
  border-radius: 10px;
  opacity: 0.5;
}


/* Diary Status Badge */
.Patient-list .diary-status {
  padding: 3px 18px;
  border-radius: 20px;
  text-align: center;
}

.Patient-list .diary-status.shared {
    width: 23%;
    background-color: #e1f8e1; /* Green for shared */
    border:solid 0.5px #4CAF50;
    color: #4CAF50;
}

.Patient-list .diary-status.not-shared {
    width: 29%;
    background-color: #fcd6d3; /* Red for not shared */
    border: solid 0.5px #F44336;
    color:#F44336 ;
}


@keyframes fadeInSlideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .pat-list-info {
    opacity: 0; /* เริ่มต้นซ่อน */
    transform: translateY(-20px); /* เริ่มต้นอยู่เหนือขึ้นไป */
  }
  
  .pat-list-info.animated {
    animation: fadeInSlideDown 0.5s ease-in-out;
    animation-fill-mode: forwards; /* ให้คงสถานะสุดท้าย */
  }
  

