.ant-menu {
    font-family: 'Noto Sans Thai', sans-serif;
    position: relative;
  }
  
  .ant-btn {
    font-family: 'Noto Sans Thai', sans-serif;
  }

  .ant-tooltip {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 14px;
  }

  
  

