:root{
    --color-backgroun-main1: #9BA5F6;
    --color-backgroun-main2: #BABDF6;
    --color-backgroun-secondary1: #EEEEF8;
    --color-backgroun-secondary2: #FFFFFF;
    --color-backgroun-secondary3: #FCFCFF;
    --color-backgroun-secondary4: #F3F3FE;

    --color-secondary1: #C1C4F8;
    --color-secondary2: #EAD7F8;
    --color-secondary3: #EFCDF3;

    --color-popup-main: #F3F3FE;
    --color-popup-secondary: #EEEEF8;

    --color-buttoon-secondary: #E3E3E3;

    --color-font1: #333f60;
    --color-font2: #CCCCE3;
    --color-font3: #585858;
    --color-font4: #868686;

    --color-hover: rgba(255, 255, 255, .2);
    --color-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow1: #dcdcf3 1px 1px 10px 0px inset;
    --box-shadow-1: rgb(255, 255, 255) -2px -2px 10px 1px inset;
}


.crossSectional{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
}

.crossSectional .befor-main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.crossSectional .main-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto;
    background: var(--color-backgroun-secondary2);
}

.crossSectional .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 1;
}

/* ------------  main-background   ------------------- */

.crossSectional .main-body .main-background{
    width: 100%;
    height: 100vh;
    background: var(--color-backgroun-secondary4);
    display: grid;
    grid-template-columns: auto 19rem;
}

.crossSectional .main-body .main-background header{
    margin: 10px -10px;
    width: 97%;
    height: 96%;
    align-items: center;
    background-color: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);

    .btn-submit{
        margin: 9px 20px;
        height: 40px;
        width: 87%;
        color: #ffffff;
        background: var(--color-backgroun-main2);
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: var(--border-radius-1);
        box-shadow: rgba(230, 224, 255, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        font-family: 'Noto Sans Thai', sans-serif;
        cursor: pointer;
        transition: .3s;
    }
    
    .btn-submit:hover{
        color: var(--color-font1);
        background: var(--color-backgroun-secondary1);
        transform: scale(1.05);
        transition: .3s;
    }
}

.crossSectional .main-body .main-background header .on{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.crossSectional .main-body .main-background header .on .date{
    padding: 5px 10px;
    border-radius: var(--border-radius-1);
    background-color: var(--color-backgroun-secondary3);
}

.crossSectional .main-body .main-background header .lower{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossSectional .main-body .main-background header .lower .typebook{
    margin-top: 1rem;
    margin-bottom: -10px;
    font-size: 1rem;
    color: #d4d4e5;
}

.crossSectional .main-body .main-background header .emo{
    margin: 20px;
    margin-top: 40px;
    width: calc(100% -20px);
    height: 70%;
    background-color: var(--color-backgroun-secondary4);
    border-radius: var(--border-radius-2);
    display: grid;
    grid-template-rows: 15fr 1fr;

    .showEmo {
        margin: 20px auto; /* Center the container */
        max-width: 600px; /* จำกัดความกว้าง */
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-content: flex-start;
    }      
}

.crossSectional .hover-menu{
    position: absolute;
    margin-top: .6rem;
    margin-bottom: 4rem;
    z-index: 100;
    color: var(--color-font1);
    display: flex;
    gap: .5rem;
    background-color: rgba(255, 255, 255, 0.658);
    padding: .5rem .5rem;
    transition: 0.3s;
    border: none;
    border-radius: var(--border-radius-2);
}

.crossSectional .ant-select-multiple .ant-select-selection-overflow {
    position: relative;
    width: 100%;
    height: 35px;
    display: flex;
}

.crossSectional .main-body .main-background header .lower .emo .button{
    display: flex;
    gap: 10px;
}

.crossSectional .main-body .main-background header .lower .emo .button Button{
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    color: var(--color-font1);
    background-color: var(--color-backgroun-secondary2);
}

/* ------------  header   ------------------- */
.crossSectional .main-body .main-background .bg-maincontent{
    margin: 10px 20px;
    width: 73vw;
    height: 98vh;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-3);
    background-color: var(--color-backgroun-secondary2);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content{
    margin: 5px 20px 0 20px;
    width: 70.2vw;
    height: 94%;
    border-radius: var(--border-radius-3);
    background-color: var(--color-backgroun-secondary4);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .content{
    display: grid;
    grid-template-rows: 6rem auto;
    width: 68.5vw;
    height: 100%;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .content-behavioural{
    display: grid;
    grid-template-rows: 2.9rem auto;
    width: 100%;
    height: 100%;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .head{
    margin: 0 20px 0 20px;
    width: calc(100% -20px);
    height: 94%;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .head .onTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .head .lowerInput{
    margin-top: 0px;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .head .lowerInput .mainTitle{
    margin-top: -5px;
    height: 45px;
    font-size: 1.2rem;
    color: var(--color-font1);
    border-radius: var(--border-radius-1);
    background-color: var(--color-backgroun-secondary2);
    font-family: 'Noto Sans Thai', sans-serif;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content{
    margin: 30px 20px 0 20px;
    width: 67.5vw;
    height: 92%;
    border-radius: var(--border-radius-1);
    background-color: var(--color-backgroun-secondary2);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .bg-Content{
    margin: 20px 20px 0 20px;
    width: calc(100% -20px);
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .bg-Content-behavioural{
    margin: 20px 20px 0 20px;
    width: calc(100% -20px);
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .bg-Content .content-box {
    flex: 1 1 calc(50% - 10px);
    margin-top: 10px;
    min-width: 200px;
    height: 99%;
    padding: 10px;
    border-radius: var(--border-radius-1);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .bg-Content-behavioural .content-box {
    flex: 1 1 calc(50% - 10px);
    margin-top: 10px;
    min-width: 200px;
    height: 99%;
    padding: 10px;
    border-radius: var(--border-radius-1);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box:nth-child(1) {
    background-color: var(--color-secondary1);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box:nth-child(2) {
    background-color: var(--color-secondary2);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box:nth-child(3) {
    background-color: var(--color-secondary3);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box:nth-child(4) {
    background-color: var(--color-secondary1);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-font1);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box .bg-input{
    margin-left: 15px;
    width: 90%;
    height: 83%;
    border-radius: var(--border-radius-1);
    background-color: var(--color-backgroun-secondary2);
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box .bg-input-ex{
    margin-left: 15px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 90%;
    height: 83%;
    border-radius: var(--border-radius-1);
    background-color: var(--color-backgroun-secondary2);
}

.crossSectional .thought-box{
    margin: 10px;
    width: calc(100% -10px);
    height: 100%;

    .thought-textarea{
        width: 100%;
        height: 84%;
        font-size: 1.1rem;
        text-align: center;
        border: none;
        resize: none;
        outline: none; 
        color: var(--color-font1);
        background: transparent;
        font-family: 'Noto Sans Thai', sans-serif;
    }
}

.crossSectional .thought-label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-font2);
}

.crossSectional .thought-textarea::placeholder{
    font-size: 1rem;
    color: #a9a9b2;
}

.crossSectional .content-input::placeholder{
    font-size: 1rem;
    color: #a9a9b2;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box .bg-input .content-input {
    margin-top: 10px;
    width: 97%;
    height: 84%;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    resize: none;
    outline: none; 
    color: var(--color-font1);
    background: transparent;
    font-family: 'Noto Sans Thai', sans-serif;
}

.crossSectional .main-body .main-background .bg-maincontent .bg-content .lower-content .content-box .bg-input .feeling-input {
    margin-left: 13px;
    width: 90%;
    height: 40px;
    color: var(--color-font1);
    font-family: 'Noto Sans Thai', sans-serif;
}

.crossSectional .ant-select-show-search:where(.css-dev-only-do-not-override-1uq9j6g).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: text;
    text-align: center;
    border: none;
    background-color: var(--color-backgroun-secondary4);
    overflow-x: auto; /* เพิ่มแถบเลื่อนในแนวนอน */
    display: flex;
    flex-wrap: nowrap; /* ทำให้รายการอยู่ในบรรทัดเดียว */
    align-items: center;
    white-space: nowrap; /* ป้องกันการห่อข้อความ */
}

.crossSectional .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #d9d9d9;
    background: #ffffff;
    overflow-x: auto;
}

.crossSectional .ant-tag.ant-tag-has-color{
    font-weight: 490;
    margin: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 30px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.crossSectional .ant-select-dropdown .ant-select-item-option-content {
    flex: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-font1);
}


.crossSectional .Loading-Data-Self{
    background: url('../../../../assets/noData.gif');
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 150px; 
    margin-top: -100px;
    margin-left: 10px;
    border: 5px solid transparent ; 
    border-radius: 10px;
    opacity: 0.5;
}

.crossSectional .text{
    font-size: .9rem;
    color: var(--color-font2);
    font-family: 'Noto Sans Thai', sans-serif;
}


/* ------------  planning   ------------------- */

.planning{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.planning .main-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto;
    background-color: var(--color-backgroun-secondary3);
}

.planning .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 100;
}

/* ------------  main-background   ------------------- */

.planning .main-body .main-background{
    width: 100%;
    height: 100%;
}

.planning .main-body .main-background header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: var(--color-backgroun-secondary1);
    font-family: "Poppins", sans-serif;
    font-family:'Noto Sans Thai',sans-serif;
}

.planning .main-body .main-background header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--color-font1);
}


/* ------------  header   ------------------- */
.planning .main-body .main-background .bg-maincontent{
    width: calc(100% -20px);
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-3);
}

.planning .titleCalender{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-font1);
    font-family:'Noto Sans Thai',sans-serif;
}

.planning h1{
    width: 94%;
    font-size: 1.5rem;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--color-backgroun-secondary4);
}

.planning .period h3{
    font-size: 1.2rem;
    color: var(--color-font1);
    font-family:'Noto Sans Thai',sans-serif;
}

.planning .ant-select-single.ant-select-show-arrow .ant-select-selection-item{
    font-size: 1rem;
    font-weight: 490;
    color: var(--color-font1);
}

.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    height: auto;
    padding-inline-end: 12px;
    padding-bottom: 8px;
    line-height: 18px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-font2);
}

.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-value {
    line-height: 24px;
    transition: color 0.3s;
    font-size: .9rem;
    font-weight: 470;
}

.planning .ant-picker-calendar-full {
    height: 100vh;
    padding: 16px;
    background: var(--color-backgroun-secondary4);
    border-radius: 16px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.planning .ant-picker-calendar .ant-picker-panel .ant-picker-date-panel {
    width: auto;
    background: var(--color-backgroun-secondary4); /* White background */
}

.planning .ant-picker-calendar .ant-picker-panel .ant-picker-body{
    padding: 8px;
    border-radius: var(--border-radius-3);
    background: var(--color-backgroun-secondary4);
}

.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date {
    display: block;
    width: auto;
    height: auto;
    margin: 4px;
    padding: 2px 8px 0;
    border: 0;
    border-top: 2px solid rgba(5, 5, 5, 0.06);
    border-radius: 0;
    transition: background 0.3s;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary3);
}

.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date{
    background: rgba(233, 233, 254, 0.839);
}

.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-calendar-date-today {
    border-top: 5px solid rgba(155, 166, 246, 0.821);
}
.planning .ant-picker-calendar.ant-picker-calendar-full .ant-picker-calendar-date-content {
    position: static;
    width: auto;
    height: 86px;
    overflow-y: auto;
    line-height: 1.5714285714285714;
    text-align: start;
}

.ant-badge.ant-badge-status {
    line-height: inherit;
    vertical-align: baseline;
}

.planning .events {
    width: 100%;
    font-family:'Noto Sans Thai',sans-serif;
}

.planning .events li{
    margin-left: -18px;
    list-style: none;
    color: var(--color-font1);
}

.planning .TooltipSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #C1C4F8;
}

.ant-list-split .ant-list-item {
    border-block-end: none;
    position: relative;
    border-radius: 15px;
    padding: 15px;
    max-width: 93%;
    margin-bottom: 20px;
    box-shadow: rgba(92, 63, 130, 0.1) 10px 10px 50px;
    background: var(--color-backgroun-secondary2);
}

.showContent-Planning .ant-timeline .ant-timeline-item-content{
    border-block-end: none;
    position: relative;
    border-radius: 15px;
    margin-left: 40px;
    padding: 15px;
    max-width: 85%;
    box-shadow: rgba(92, 63, 130, 0.1) 10px 10px 50px;
    background: var(--color-backgroun-secondary2);
}

.showContent-Planning .ant-timeline .ant-timeline-item {
    position: relative;
    margin: 35px 0 0 30px;
    padding-bottom: 20px;
    list-style: none;
}

.showContent-Planning div h3{
    margin: -5px 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.88);
}

.showContent-Planning div p{
    color: rgba(0, 0, 0, 0.45);
    font-size: 1rem;
    line-height: 1.5714285714285714;
    margin: -1px 0;
}

.action-button{
    font-size: 1rem;
    font-weight: 800;
    border: none;
}


.day-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.day-comments  .comment-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 16%;
    border-radius: 15px;
    padding: 15px;
    max-width: 70%;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: rgba(92, 63, 130, 0.1) 0px 10px 50px;
}

.day-comments .comment-box::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: -6.5%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
}

.day-comments .comment-content {
    color: var(--color-font1);
    width: 100%;
}

.day-comments .comment-user {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.day-comments .comment-date {
    font-size: .8rem;
    color: var(--color-font4);
}

.day-comments .comment-text {
    font-size: .9rem;
    line-height: 1.5;
}

.day-comments .comment-avatar {
    position: absolute;
    right: -50px;
    bottom: -5px;
}

.day-comments .comment-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.planning .day-Planning{
    width: 100%;
    display: flex;
    justify-content: space-between;  

    .mainTetx{
        color: var(--color-font1);
        font-weight: 600;
    }

    .text{
        color: var(--color-font2);
    }
}

.planning .title-Planning{
    padding-bottom: .3rem;
}
/* .planning .title-Planning::after{
    content: '';
    position: absolute;
    background: var(--dynamic-color);    
    margin-left: -15px;
    height: .5rem;
    width: 100%;
    margin-top: .7rem;
} */

.planning .title-event{
    font-size: 1rem;
    color: #2d2d2dc5;  
    font-weight: 400;
}

.planning .title-fell{
    color: rgba(0, 0, 0, 0.485);  
    font-size: 1rem;
    font-weight: 500;
}

.planning .ant-btn-variant-text {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: end;
    color: rgba(0, 0, 0, 0.88);
    box-shadow: none;
}

.planning .Loading-Data-SelfDay{
    background: url('../../../../assets/noData.gif');
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 150px; 
    margin-top: -250px;
    margin-left: 10px;
    border: 5px solid transparent ; 
    border-radius: 10px;
    opacity: 0.5;
}

.planning .text{
    font-size: .9rem;
    color: var(--color-font2);
    font-family: 'Noto Sans Thai', sans-serif;
}

.planning .content{
    display: grid;
    margin: 30px;
    width: calc(100% -30px);
    height: 570px;
    border-radius: var(--border-radius-1);
    background: #fbfbff;
    overflow-y: auto;
}

.planning .content .info{
    margin: 20px;
    width: calc(100% -20px);
    height: 80%;
}

.planning .content .info .m-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.planning .content .info .m-content .title {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.planning .content .info .m-content strong {
    color: var(--color-font1);
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 10px;
}

.planning .row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
    height: 40px;
}

.planning .label-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    padding: 4px 0;
    padding-left: 10px;
    background-color: var(--color-backgroun-secondary4);
    border-radius: var(--border-radius-1);
    border: none;
    font-family: 'Noto Sans Thai', sans-serif;

}