@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-backgroun-main1: #9BA5F6;
    --color-backgroun-main2: #BABDF6;
    --color-backgroun-secondary1: #EEEEF8;
    --color-backgroun-secondary2: #FFFFFF;
    --color-backgroun-secondary3: #FCFCFF;

    --color-secondary1: #C1C4F8;
    --color-secondary2: #EAD7F8;
    --color-secondary3: #EFCDF3;

    --color-popup-main: #F3F3FE;
    --color-popup-secondary: #EEEEF8;

    --color-buttoon-secondary: #DBDDEC;

    --color-font1: #17374E;
    --color-font2: #CCCCE3;
    --color-font3: #585858;
    --color-font4: #868686;

    --color-hover: rgba(255, 255, 255, .2)
    --color-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}

h1{
    font-weight: 700;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}

.psy{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.psy .befor-main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.psy .main-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto 14rem;
    gap: 1rem;
    background: var(--color-backgroun-secondary1);
}

.psy .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 1;
}

/* ------------  main-background   ------------------- */

.psy .main-body .main-background{
    width: 100%;
    height: 100%;
}

.psy .main-body .main-background header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: var(--color-backgroun-secondary1);
}

.psy .main-body .main-background header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--color-font1);
}

.psy .main-body .main-background header .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    gap: 10px;
}

.psy .main-body .main-background header .search-bar .labelSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 65%;
    background: var(--color-backgroun-secondary2);
    border: none;
    border-radius: var(--border-radius-3);
}

.psy .main-body .main-background header .search-bar .labelSearch input {
    color: var(--color-font3);
    background: transparent;
    border: none;
    height: 90%;
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    margin: 5px;
}

.psy .main-body .main-background header .search-bar .labelSearch input:focus {
    outline: none;
}

.psy .main-body .main-background header .search-bar .warm{
    width: 15%;
    height: 100%;
}

.psy .main-body .main-background header .search-bar .warm .bg-warm{
    margin: 5px;
    width: calc(100px -10px);
    height: 78%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary2);
}

.psy .main-body .main-background header .search-bar .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 8px;
    color: var(--color-backgroun-main1);
}

.psy .main-body .main-background .main-content{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: calc(97% - 50px); /* ลบความสูงของ header */
    display: grid;
    grid-template-rows: 8rem auto auto;
    margin-inline: auto;
    background: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);
    overflow-y: auto;
}

.psy .main-body .main-background .main-content .content1,
.psy .main-body .main-background .main-content .content2,
.psy .main-body .main-background .main-content .content3 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
}

/* ------------  content1   ------------------- */

.psy .main-body .main-background .main-content .content1{
    position: relative;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

/* ------------  content2   ------------------- */
.psy .main-body .main-background .main-content .content2{
    display: flex;
    flex-direction: column;
}

.psy .main-body .main-background .main-content .content2 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    width: calc(100px -10px);
    height: 40px;
}

.psy .main-body .main-background .main-content .content2 .header .btn-add-co2{
    top: 0;
    display: flex;
    justify-content: center;
    padding: 6px 30px;
    color: var(--color-backgroun-secondary2);
    background: #9BA5F6;
    border: none;
    border-radius: var(--border-radius-1);
}

.psy .main-body .main-background .main-content .content2 .note-board{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary3);

}

/* ------------  content3   ------------------- */

.psy .main-body .main-background .main-content .content3{
    position: relative;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}


/* ------------  main-bg-right   ------------------- */

.psy .main-body .main-bg-right{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


.psy .main-body .main-bg-right .main-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    background: var(--color-backgroun-secondary2);
    overflow-y: auto;
}

.psy .main-body .main-bg-right .main-content .content1{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main2);
}

.psy .main-body .main-bg-right .main-content .content1 .box{
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

.psy .main-body .main-bg-right .main-content .content2{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 13px);
    margin: 10px;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

.psy .main-body .main-bg-right .main-content .content3{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    margin: 10px;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}



/* ------------  blur   ------------------- */

#blur.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.234); /* สีดำโปร่งแสง */
    z-index: 1; /* ทำให้เลเยอร์อยู่ข้างหลัง */
    pointer-events: none; /* ป้องกันการโต้ตอบกับเลเยอร์นี้ */
}

#blur.active {
    filter: blur(5px);
    position: relative; /* เพื่อให้ pseudo-element ทำงานได้ถูกต้อง */
}



/* ------------  popup   ------------------- */
#popup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 30px;
    background: var(--color-backgroun-secondary1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
}


#popup h2{
    font-weight: 500;
}

#popup .compo-search a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font2);
    gap: 2rem;
}

#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}



/* 
.psy #container {
    background-color: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(79, 77, 77, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    width: 827px;
    height: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.psy .note-board #list-header {
    display: flex;
    align-items: left;
    justify-content: left;
}

.notePsy #addNoteDiv {
    background-color: var(--color-backgroun-secondary3);
    border: 1px solid var(--color-popup-secondary);
    padding: 20px;
    border-radius: var(--border-radius-2);
    height: 200px;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.psy #addNoteDiv:hover {
    transition: 0.25s;
    background-color: var(--color-backgroun-secondary2);
}


.psy #addNoteDiv i {
    font-size: 70px;
    color: var(--color-backgroun-secondary1);
}
 */

/* List CSS
.psy #list-container {
    display: flex;
    align-items: left;
    justify-content: left;
}

.psy ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.psy li {
    background-color: #fff385;
    margin: 5px 0;
    padding: 20px;
    border-radius: 8px; Rounded corners */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; Added to align buttons to the right */
    /* height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow:  9px 9px 18px #b3b3b3,
                -9px -9px 18px #ffffff;
}

.psy li span {
    font-size: 12px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-y: scroll;
}

.psy #editBtn,
.psy #deleteBtn {
    background-color: #c6aaff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; Adjusted margin for spacing */
    /* cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    width: 60px;
}

.psy #editBtn {
    background-color: gainsboro;
}

.psy #deleteBtn:hover {
    background-color: #8c53ff;
}

.psy #editBtn:hover {
    background-color: gray;
} */


/* Create Note Popup CSS */
/* .psy #popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.psy textarea {
    width: 300px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #8c53ff;
}

.psy #btn-container {
    display: flex;
}

.psy #submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.psy #closeBtn {
    background-color: gainsboro;
}
 */

/* Editing Popup CSS
.psy #editing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.psy #submitBtn, #closeBtn {
    width: 100px;
    background-color: #8c53ff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.psy #closeBtn {
    background-color: gainsboro;
} */