@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
:root{
    --color-backgroun-main1: #9BA5F6;
    --color-backgroun-main2: #BABDF6;
    --color-backgroun-secondary1: #EEEEF8;
    --color-backgroun-secondary2: #FFFFFF;
    --color-backgroun-secondary3: #FCFCFF;
    --color-backgroun-secondary4: #F3F3FE;

    --color-secondary1: #C1C4F8;
    --color-secondary2: #EAD7F8;
    --color-secondary3: #EFCDF3;

    --color-popup-main: #F3F3FE;
    --color-popup-secondary: #EEEEF8;

    --color-buttoon-secondary: #E3E3E3;

    --color-font1: #333f60;
    --color-font2: #CCCCE3;
    --color-font3: #585858;
    --color-font4: #868686;

    --color-hover: rgba(255, 255, 255, .2)
    --color-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}



.emotional-web {
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;

}

.emotional-web .main-bg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.emotional-web .main-bg .bg-left{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-backgroun-secondary3);
}

.emotional-web .main-bg .bg-right{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-backgroun-secondary3);
}

.emotional-web .emoji-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 3.5rem;
    justify-content: center;
    margin-top: 20px;
    padding: 2rem 4rem;
    height: 70vh;
    overflow-x: auto;
}

.emotional-web .emoji {
    width: 7rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.3rem;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px, var(--box-shadow);
    overflow: hidden;
    transition: 0.3s;

    span{
        font-size: 1.3rem;
        color: white;
        text-shadow: 1px 1px 2px rgba(192, 192, 192, 0.8);
    }

}

.emotional-web .emoji:hover {
    transform: scale(1.1);
}

.emotional-web .selected-emotion {
    margin-top: 20px;
    font-size: 24px;
}

/* General container */
.emotional-web .main-bg .emotion-container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% -40px);
    min-height: 90vh;
    border-radius: var(--border-radius-3);
    font-family: 'Noto Sans Thai', sans-serif;
    color: #333f60;
}

/* Main card containing all elements */
.emotional-web .emotion-card {
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 2rem;
    color: var(--color-font1);
}

/* Large emoji display section */
.emotional-web .large-emoji {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2rem 4rem;
    background-color: #FFFFFF; */
}

.emotional-web .emoji-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.emotional-web .emoji-large {
    font-size: 8rem;
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.49);
}

/* Grid for selectable emotions */
.emotional-web .emotion-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    margin-bottom: 3rem;
    padding: 1rem;
    height: 200px;
    overflow-x: auto;
}

.emotional-web .emotion-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    border: none;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.emotional-web .emotion-button:hover {
    transform: scale(1.1);
}

.emotional-web .emoji-small {
    font-size: 2.5rem;
}

/* Create Emotion Button Section */
.emotional-web .create-emotion {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.emotional-web .create-emotion-btn {
    background-color: #FFFFFF;
    color: #333f60;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    transition: background-color 0.2s;
    font-size: 1.125rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans Thai', sans-serif;
}

.emotional-web .create-emotion-btn:hover {
    color: #FFFFFF;
    background-color: var(--color-backgroun-main2);
}



.emotional-web .Loading-Data{
    background: url('../../assets/noData.gif');
    background-size: cover;
    background-position: center;
    width: 340px;
    height: 210px; 
    margin-top: -40px;
    border: 5px solid transparent ; 
    border-radius: 10px;
    opacity: 0.5;
}

.emotional-web .text{
    color: var(--color-font2);
    font-family: 'Noto Sans Thai', sans-serif;
}

.emotional-web .nameEmotion{
    padding: .5rem 2rem;
    border-radius: 9999px;
    background-color: #FFFFFF;
    transition: .3s;
}

.emotional-web .hover-menu{
    margin-top: .6rem;
    margin-bottom: 4rem;
    z-index: 100;
    color: var(--color-font1);
    display: flex;
    gap: .5rem;
    transition: 0.3s;
}

.emotional-web .hover-menu button {
    border: none;
    background-color: rgba(255, 255, 255, 0.658);
    padding: .5rem .5rem;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.emotional-web .hover-menu button:hover {
    color: var(--color-font1);
    background-color: #fff;
    transition: 0.3s;
}
