@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

:root{
    --color-backgroun-main1: #9BA5F6;
    --color-backgroun-main2: #BABDF6;
    --color-backgroun-secondary1: #EEEEF8;
    --color-backgroun-secondary2: #FFFFFF;
    --color-backgroun-secondary3: #FCFCFF;

    --color-secondary1: #C1C4F8;
    --color-secondary2: #EAD7F8;
    --color-secondary3: #EFCDF3;

    --color-popup-main: #F3F3FE;
    --color-popup-secondary: #EEEEF8;

    --color-buttoon-secondary: #DBDDEC;

    --color-font1: #17374E;
    --color-font2: #CCCCE3;
    --color-font3: #585858;
    --color-font4: #868686;

    --color-hover: rgba(255, 255, 255, .2)
    --color-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}

.notePat {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
}

.notePat .note {
    width: calc(100% - 10px);
    height: calc(180px - 10px);
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.notePat .note .content{
    display: grid;
    grid-template-rows: 1rem auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.notePat .note .content .head{
    padding-top: 15px;
    width: 100%;
    height: 25px;
    text-align: center;
    overflow-y: auto;
}

.notePat .note .content .head h2 {
    margin-top: 0;
    font-size: 1.2rem;
    font-family:'Noto Sans Thai',sans-serif;
    color: var(--color-font1);
}

.notePat .note .content .head .border {
    width: 100%;
    border-bottom: 2px solid #ffffff75;
}

.notePat .note .content .body{
    width: 100%;
    height: 150px;
    text-align: center;
    overflow-y: auto;
}

.note p {
    color: var(--color-font1);
    font-family:'Noto Sans Thai',sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}