.PsyPatientPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    background: #F7F8FD;
    font-family:'Noto Sans Thai', sans-serif;

}

.PsyPatientPage .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
}

.PsyPatientPage .Content{
    position: relative;
    width: 70%;
    height: 100%;
    /* background: #454855; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* border: solid 0.5px; */
}

.PsyPatientPage .Carendar{
    position: relative;
    flex-grow: 1;    
    height: 100%;
    /* border: solid 0.5px; */
    background: #7f8cce;
}

