.worksheets {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Noto Sans Thai', sans-serif;
}

.worksheets .main-body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto;
    background: var(--color-backgroun-secondary2);
}

.worksheets .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 1;
}

.worksheets .main-body .main-background {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 7rem;
    gap: 10px;
}

.worksheets .bg-content {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);
}

.worksheets .bg-content .content-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worksheets .bg-content .content-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border-radius-3);
    object-fit: contain;
}

.worksheets .bg-content .content-text {
    margin-top: 40px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border-radius: 10px;
}

.worksheets .bg-content .content-text h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--color-font1);
}

.worksheets .bg-content .content-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #444; /* Darker text color for better readability */
    line-height: 1.5;
}

.worksheets .bg-content .content-text h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #CBCFEF;
    margin-top: 1rem;
}

.worksheets .btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    background-color: var(--color-backgroun-main1);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
}

.worksheets .btn:hover{
    background: var(--color-secondary1);
    transform: scale(1.05);
    transition: .5s;
}

.worksheets .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--color-backgroun-secondary4);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.worksheets .thumbnail-item {
    cursor: pointer;
    font-weight: 700;
    color: var(--color-backgroun-secondary2);
    padding: 0.5rem 1rem;
    background-color: var(--color-backgroun-secondary1);
    border-radius: 50%;
    box-shadow: var(--box-shadow2), var(--box-shadow-2);
}

.worksheets .thumbnail-item:hover{
    background: var(--color-backgroun-secondary2);
    color: var(--color-backgroun-main1);
    transform: scale(1.05);
    transition: .5s;
}

.worksheets .thumbnail-item.active {
    box-shadow: none;
    background-color: var(--color-backgroun-main1);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
}

/* DatePicker Styles */
.worksheets .date-picker-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 40px ;
    transform: translate(-50%, -50%);
    background-color: var(--color-popup-main);
    border-radius: var(--border-radius-3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    z-index: 1000;
    font-family: 'Noto Sans Thai', sans-serif;
}

.worksheets .bg-popup::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.387); /* สีดำโปร่งแสง */
    z-index: 1; /* ทำให้เลเยอร์อยู่ข้างหลัง */
    pointer-events: none; /* ป้องกันการโต้ตอบกับเลเยอร์นี้ */
}

.worksheets .date-picker-popup .title {
    text-align: center;
    color: var(--color-backgroun-main1);
    font-size: 2rem;
    font-weight: 800;
}

.worksheets .date-picker-popup .date-picker-content {
    display: flex;
    justify-content: space-between;
}

.worksheets .date-picker-popup .left-column,
.worksheets .date-picker-popup .right-column {
    width: 48%;
}

.worksheets .date-picker-popup .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.worksheets .date-picker-popup label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-font1);
    font-weight: 700;
}

.worksheets .date-picker-popup input[type="text"],
.worksheets .date-picker-popup select,
.worksheets .react-datepicker__input-container input {
    width: 100%;
    max-width: 260px; /* Adjust this value as needed */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius-2);
    font-size: 0.95rem;
    border: none;
    color: var(--color-font1);
    box-sizing: border-box; /* Ensures padding is included in width */
}

.worksheets .date-picker-popup .input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 5px;
}

.worksheets .date-picker-popup .input-group label {
    margin-bottom: 5px;
}

.worksheets .date-picker-popup .right-column {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds consistent spacing between input groups */
}

.worksheets .date-picker-popup .btn-submit {
    margin: 0 30px;
    margin-top: 40px;
    width: 90%;
    padding: 12px;
    background-color: var(--color-backgroun-main1);
    color: white;
    border: none;
    border-radius: var(--border-radius-2);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    transition: background-color 0.3s;
}

.worksheets .date-picker-popup .btn-submit:hover {
    background-color: var(--color-secondary1);
}

.worksheets .book-item {
    background-color: var(--color-backgroun-secondary2);
    margin-left: 30px;
    width: 60%;
    height: 87%;
    padding: 20px;
    border-radius: var(--border-radius-2);
    text-align: center;
}

.worksheets .book-item .img-book {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: var(--border-radius-2);
}

.worksheets .book-item .img-book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.worksheets .book-item .nameBook {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: var(--border-radius-2);
    font-size: 14px;
    color: var(--color-font1);
}