.listPsycho{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans Thai', sans-serif;

    .bg-main{
        width: 100vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 3rem auto;
    }
}

.listPsycho .right{
    width: 100%;
    height: 100%;
    background: linear-gradient(141deg, #ffffff 0%, #edf0ff 100%);

    .box-content{
        margin: 30px;
        width: calc(100% - 30px);
        display: grid;
        grid-template-rows: 4rem auto;

        .mainText{
            width: 100%;
            font-size: 3rem;
            margin-top: -20px;
        }


        .boxTable{
            width: 100%;

        }
    }
}

.listPsycho table {
    width: 97.5%;
    font-family:'Noto Sans Thai', sans-serif;
    color: #61626c;
    border-spacing: 0 6px;
    overflow: hidden;

}

.listPsycho th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.listPsycho td{
    text-align: center;
    padding: 18px 12px;
    gap: 1rem;
}

.listPsycho thead th {
    font-size: .9rem;
    font-weight: 500;
    color: #9095b2;
    border: none;
}


.listPsycho tbody tr{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.listPsycho tbody tr td:nth-child(1){
    border-radius: 10px 0 0 10px;
}

.listPsycho tbody tr td:last-child{
    border-radius: 0 10px 10px 0;
}



/* ปรับสีพื้นหลังของแถว */
/* .listPsycho tr:nth-child(even) {
    background-color: #fafaff;
} */

/* ปุ่ม Not Approved */
.listPsycho button.not-approved {
    background-color: #d2e6ff;
    color: #4f91d0;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 20px;
    width: 85%;
    font-weight: 500;

}

/* ปุ่ม Approved */
.listPsycho button.approved {
    background-color: #ede3ff;
    color: #a27ee3;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 20px;
    width: 80%;
    font-weight: 500;
}

/* ปุ่ม Delete */
.listPsycho .ant-btn-color-dangerous.ant-btn-variant-solid {
    font-size: 1.3rem;
    color: #939ac2;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    background: none;
    box-shadow: none;
    transition: .3s;
}

.listPsycho .ant-btn-color-dangerous.ant-btn-variant-solid:hover{
    background: none;
    border-radius: 20px;
}


/* ปรับขนาดปุ่มและจัดให้อยู่ตรงกลาง */
.listPsycho td > button {
    width: 100%;
    box-sizing: border-box;
}

/* ปุ่ม Not Approved */
.listPsycho .not-approved {
    background-color: #FF9BB5;
    color: #F83968;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.col-picture {width: 10;}
.col-first-name { width: 10%; }
.col-last-name { width: 10%; }
.col-tel { width: 10%; }
.col-email { width: 10%; }
.col-work-place { width: 15%; }
.col-certificate { width: 8%; }
.col-working-number {width: 5%;}
.col-is-approved { width: 5%; }
.col-actions { width: 5%; }