.PsyCommentCS{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #F7F8FD;
    font-family:'Noto Sans Thai', sans-serif;
    color: #585858;
}

.PsyCommentCS .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
}

.PsyCommentCS .Content{
    position: relative;
    flex-grow: 1;  
    height: 100%;
    /* background: #c7b285; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;

    .Patient-card-info{
        width: 98%;
        height: 16%;
        background: #ffffff;
        border-radius: 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.03);

        .Patient-card-info-left{
            width: 45%;
            height: 100%;
            background-color: #85c7c4;
            border-radius: 15px;
            /* box-shadow: 4px 3px 6px -4px rgba(153, 153, 153, 0.91);
            -webkit-box-shadow: 4px 3px 6px -4px rgba(118, 118, 118, 0.91);
            -moz-box-shadow: 4px 3px 6px -4px rgba(123, 123, 123, 0.91); */
            display: flex;
            flex-direction: row;
            align-items: center;

            .Patient-name-age-gender-id{
                height: 85%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                /* background-color: #c785c4; */
                margin: 0.5rem;
            }
        }
        .Patient-card-info-right{
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: row;
            /* background:#e9eb96; */
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .Patient-email-tel-symtom-dob{
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
        }
    }
    .Records-select{
        width: 98%;
        height: 15%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        background:  #ffffff;
        border-radius: 15px;
    }
    .Record-info{
        width: 98%;
        flex-grow: 1;
        background: #F7F8FD;
        margin-bottom: 10px;
    }
}

.PsyCommentCS .Comment{
    position: relative;
    width: 40%;
    /* flex-grow: 1;   */
    max-width:415px;  
    height: 100%;
    background: white;
    border-radius: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}


/*============================================================*/
.PsyCommentBE{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #F7F8FD;
    font-family:'Noto Sans Thai', sans-serif;
}

.PsyCommentBE .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
}

.PsyCommentBE .Content{
    position: relative;
    flex-grow: 1;  
    height: 100%;
    background: #92c785;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.PsyCommentBE .Comment{
    position: relative;
    width: 40%;
    /* flex-grow: 1;   */
    max-width:415px;  
    height: 100%;
    background: white;
    border-radius: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}
/*============================================================*/
.PsyCommentAP{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #F7F8FD;
    font-family:'Noto Sans Thai', sans-serif;
}

.PsyCommentAP .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
}

.PsyCommentAP .Content{
    position: relative;
    flex-grow: 1;  
    height: 100%;
    background: #85c7c4;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.PsyCommentAP .Comment{
    position: relative;
    width: 40%;
    /* flex-grow: 1;   */
    max-width:415px;  
    height: 100%;
    background: white;
    border-radius: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}
/*============================================================*/
.PsyCommentAD{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #F7F8FD;
    font-family:'Noto Sans Thai', sans-serif;
}

.PsyCommentAD .SideBar{
    position: relative;
    height: 100%;
    width: 75px;
}

.PsyCommentAD .Content{
    position: relative;
    flex-grow: 1;  
    height: 100%;
    background: #c785c4;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .Patient-card-info{
        width: 95%;
        height: 10%;
        background: #a2aee9;
    }
}

.PsyCommentAD .Comment{
    position: relative;
    width: 40%;
    /* flex-grow: 1;   */
    max-width:415px;  
    height: 100%;
    background: white;
    border-radius: 15px 0 0 0;
    display: flex;
    flex-direction: column;
}
