.Admin{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans Thai', sans-serif;
    background: linear-gradient(141deg, #ffffff 0%, #edf0ff 100%);


    .bg-main{
        width: 100vw;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 3rem auto 20rem;
    }
}
.Admin .left{
    z-index: 100;
}

.Admin .middle{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10rem 22rem auto;
    /* background: linear-gradient(141deg, #ffffff 0%, #edf0ff 100%); */
}
.Admin .middle .box-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 30px;
}

.Admin .card {
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.Admin .card:nth-child(1){
    background: #00e1f7;
    background: linear-gradient(41deg, rgba(0,225,247,1) 0%, rgba(200,254,255,1) 100%);
}

.Admin .card:nth-child(2){
    background: #7fb8ff;
    background: linear-gradient(41deg, rgba(127,184,255,1) 0%, rgba(202,227,255,1) 100%);
}
.Admin .card:nth-child(3){
    background: #ff88bc;
    background: linear-gradient(41deg, rgba(255,136,188,1) 0%, rgba(255,212,231,1) 100%);
}
.Admin .card:nth-child(4){
    background: #c8b0f6;
    background: linear-gradient(41deg, rgba(200,176,246,1) 0%, rgba(233,224,255,1) 100%);
}

.Admin .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Admin .card-header h3 {
    font-size: .8rem;
    font-weight: 600;
}

.Admin .card-header h3.I{
    color: #006975;
}
.Admin .card-header h3.II{
    color: #35619b;
}
.Admin .card-header h3.III{
    color: #8c4463;
}
.Admin .card-header h3.IV{
    color: #66508f;
}

.Admin .card-header-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    font-size: 2rem;
    color: #ffffff;
}
.Admin .card-header-icon.I{
    background: #07bace;
}
.Admin .card-header-icon.II{
    background: #82ace3;
}
.Admin .card-header-icon.III{
    background: #e088ae;
}
.Admin .card-header-icon.IV{
    background: #af9bd5;
}

.Admin .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Admin .card-body .card-value {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 8px;
}

.Admin .card-body .card-value.I{
    color: #006975;
}
.Admin .card-body .card-value.II{
    color: #35619b;
}
.Admin .card-body .card-value.III{
    color: #8c4463;
}
.Admin .card-body .card-value.IV{
    color: #66508f;
}

.Admin .card-body .card-percentage {
    position: relative;
    font-size: .8rem;
    font-weight: 500;
    padding: 2px 0;
    margin-left: 35%;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff61;
}

.Admin .card-body .card-percentage.I{
    color: #07bace;
}
.Admin .card-body .card-percentage.II{
    color: #82ace3;
}
.Admin .card-body .card-percentage.III{
    color: #e088ae;
}
.Admin .card-body .card-percentage.IV{
    color: #af9bd5;
}


.Admin .middle .graph{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}


.Admin .right{
    background: #edf0ff;;
}