.Calendar-container{
    font-family:'Noto Sans Thai', sans-serif;

}
.ant-modal{
    font-family:'Noto Sans Thai', sans-serif;
}

.ant-form-item-label{
    font-family:'Noto Sans Thai', sans-serif;

}