@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-backgroun-main1: #9BA5F6;
    --color-backgroun-main2: #BABDF6;
    --color-backgroun-secondary1: #EEEEF8;
    --color-backgroun-secondary2: #FFFFFF;
    --color-backgroun-secondary3: #FCFCFF;

    --color-secondary1: #C1C4F8;
    --color-secondary2: #EAD7F8;
    --color-secondary3: #EFCDF3;

    --color-popup-main: #F3F3FE;
    --color-popup-secondary: #EEEEF8;

    --color-buttoon-secondary: #E3E3E3;

    --color-font1: #17374E;
    --color-font2: #CCCCE3;
    --color-font3: #585858;
    --color-font4: #868686;

    --color-hover: rgba(255, 255, 255, .2)
    --color-light: rgba(132, 139, 200, 0.18);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light)
}

h1{
    font-weight: 700;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}

.Pat{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Pat .befor-main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.Pat .main-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto 14rem;
    gap: 1rem;
    background: var(--color-backgroun-secondary1);
}

.Pat .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 1;
}

/* ------------  main-background   ------------------- */

.Pat .main-body .main-background{
    width: 100%;
    height: 100%;
}

.Pat .main-body .main-background header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: var(--color-backgroun-secondary1);
}

.Pat .main-body .main-background header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--color-font1);
}

.Pat .main-body .main-background header .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    gap: 10px;
}

.Pat .main-body .main-background header .search-bar .labelSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 65%;
    background: var(--color-backgroun-secondary2);
    border: none;
    border-radius: var(--border-radius-3);
}

.Pat .main-body .main-background header .search-bar .labelSearch input {
    color: var(--color-font3);
    background: transparent;
    border: none;
    height: 90%;
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    margin: 5px;
}


.Pat .main-body .main-background header .search-bar .labelSearch input::placeholder{
    color: var(--color-backgroun-main1);
    font-weight: 300;
}

.Pat .main-body .main-background header .search-bar .labelSearch input:focus {
    outline: none;
}

.Pat .main-body .main-background header .search-bar .warm{
    width: 15%;
    height: 100%;
}

.Pat .main-body .main-background header .search-bar .warm .bg-warm{
    margin: 5px;
    width: calc(100px -10px);
    height: 78%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary2);
}

.Pat .main-body .main-background header .search-bar .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 8px;
    color: var(--color-backgroun-main1);
}

.Pat .main-body .main-background .main-content{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: calc(97% - 50px); /* ลบความสูงของ header */
    display: grid;
    grid-template-rows: 8rem auto auto;
    margin-inline: auto;
    background: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);
    overflow-y: auto;
}

.Pat .main-body .main-background .main-content .content1,
.Pat .main-body .main-background .main-content .content2,
.Pat .main-body .main-background .main-content .content3 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
}

/* ------------  content1   ------------------- */

.Pat .main-body .main-background .main-content .content1{
    position: relative;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

/* ------------  content2   ------------------- */
.Pat .main-body .main-background .main-content .content2{
    display: flex;
    flex-direction: column;
}

.Pat .main-body .main-background .main-content .content2 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    width: calc(100px -10px);
    height: 40px;
}

.Pat .main-body .main-background .main-content .content2 .header .btn-add-co2{
    top: 0;
    display: flex;
    justify-content: center;
    padding: 6px 30px;
    color: var(--color-backgroun-secondary2);
    background: #9BA5F6;
    border: none;
    border-radius: var(--border-radius-1);
}

.Pat .main-body .main-background .main-content .content2 .note-board{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary3);

}

/* ------------  content3   ------------------- */

.Pat .main-body .main-background .main-content .content3{
    position: relative;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}


/* ------------  main-bg-right   ------------------- */

.Pat .main-body .main-bg-right{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


.Pat .main-body .main-bg-right .main-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    background: var(--color-backgroun-secondary2);
    overflow-y: auto;
}

.Pat .main-body .main-bg-right .main-content .content1{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main2);
}

.Pat .main-body .main-bg-right .main-content .content1 .box{
    position: relative;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

.Pat .main-body .main-bg-right .main-content .content2{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 13px);
    margin: 10px;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

.Pat .main-body .main-bg-right .main-content .content3{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    margin: 10px;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}



/* ------------  blur   ------------------- */

#blur.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.234); /* สีดำโปร่งแสง */
    z-index: 1; /* ทำให้เลเยอร์อยู่ข้างหลัง */
    pointer-events: none; /* ป้องกันการโต้ตอบกับเลเยอร์นี้ */
}

#blur.active {
    filter: blur(5px);
    position: relative; /* เพื่อให้ pseudo-element ทำงานได้ถูกต้อง */
}



/* ------------  popup   ------------------- */
#popup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 30px;
    background: var(--color-backgroun-secondary1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
}


#popup h2{
    font-weight: 500;
}

#popup .compo-search a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font2);
    gap: 2rem;
}

#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupNote {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 0 30px;
    background: var(--color-backgroun-secondary2);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#popupNote .head {
    width: 100%;
    text-align: center;
}

#popupNote .head h2 {
    color: var(--color-backgroun-main1);
    font-size: 2rem;
    font-weight: 700;
}

#popupNote .noteBoard {
    width: calc(100px -20px);
    height: 100%;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
    padding: 15px;
    margin-bottom: 20px;
}

#popupNote .noteBoard .head {
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
}

#popupNote .noteBoard .head .titleNote {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-backgroun-main1);
    margin-bottom: 5px;
    background: transparent;
}

#popupNote .noteBoard .head .titleNote.titleNote::placeholder {
    color: var(--color-font2);
}

#popupNote .noteBoard .head .border {
    width: 100%;
    border-bottom: 2px solid var(--color-font2);
}

#popupNote .noteBoard .content  {
    width: 100%;
    height: 80%;
}

#popupNote .noteBoard .content .contentNote{
    padding: 10px;
    width: 100%;
    height: 100%;
    color: var(--color-font1);
    font-size: 1rem;
    border: none;
    resize: none;
    outline: none; 
    background: transparent;
}

#popupNote .noteBoard .content .contentNote::placeholder{
    color: var(--color-font2);
}

#popupNote .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

#popupNote .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popupNote .buttons .btn-cancel {
    padding: 5px 30px;
    font-size: 1rem;
    background: var(--color-buttoon-secondary);
    color: var(--color-backgroun-secondary2);
}

#popupNote .buttons .btn-cancel:hover{
    background: var(--color-backgroun-secondary3);
    color: var(--color-buttoon-secondary);
    text-shadow: 0 0 10px var(--color-backgroun-main2), 0 0 40px var(--color-backgroun-main2), 0 0 80px var(--color-backgroun-main2);
    transition: .5s;
}

#popupNote .buttons .btn-create {
    padding: 5px 30px;
    background: var(--color-backgroun-main1);
    color: var(--color-backgroun-secondary2);
}

#popupNote .buttons .btn-create:hover{
    transform: scale(1.2);
    background: var(--color-backgroun-main2);
    color: var(--color-backgroun-secondary2);
    text-shadow: 0 0 10px var(--color-backgroun-main2), 0 0 40px var(--color-backgroun-main2), 0 0 80px var(--color-backgroun-main2);
    transition: .5s;
}

#popupNote.active {
    visibility: visible;
    opacity: 1;
}