.Pat{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    font-family:'Noto Sans Thai',sans-serif !important;
}

.Pat .befor-main{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.Pat .main-body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3.2rem auto 17rem;
    gap: 1.5rem;
    background: var(--color-backgroun-secondary4);
}

.Pat .main-body .sidebar {
    width: 100%;
    height: 100%;
    background: var(--color-backgroun-main1);
    z-index: 1;
}

/* ------------  main-background   ------------------- */

.Pat .main-body .main-background{
    width: 100%;
    height: 100%;
}

.Pat .main-body .main-background header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: var(--color-backgroun-secondary4);
    font-family: "Poppins", sans-serif;
    font-family:'Noto Sans Thai',sans-serif;
}

.Pat .main-body .main-background header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    color: var(--color-font1);
}

.Pat .main-body .main-background header .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    gap: 10px;
}

.Pat .main-body .main-background header .search-bar .labelSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 65%;
    background: var(--color-backgroun-secondary2);
    border: none;
    border-radius: var(--border-radius-3);
    overflow: hidden;
    position: relative;
}

.Pat .scrolling-text {
    white-space: nowrap;
    position: absolute;
    animation: scroll-text 10s linear infinite;
    font-size: 1rem; /* Adjust as needed */
    color: #5E7BD0;
}

.Pat .wide-space {
    display: inline-block;
    width: 60px; /* Adjust the width as needed */
}


@keyframes scroll-text {
    0% {
    left: 100%;
    }
    100% {
    left: -100%;
    }
}

.Pat .main-body .main-background header .search-bar .warm{
    width: 15%;
    height: 100%;
}

.Pat .main-body .main-background header .search-bar .warm .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pat .main-body .main-background header .search-bar .warm .bg-warm{
    position: relative;
    margin: 5px;
    width: calc(100px -10px);
    height: 78%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary2);
}

.Pat .main-body .main-background header .search-bar .warm .bg-warm i{
    margin-top: 7px;
    font-size: 1.4rem;
    color: #5E7BD0;
}

.Pat .ant-badge .ant-badge-count {
    display: inline-flex;
    justify-content: center;
    z-index: auto;
    min-width: 14px;
    height: 14px;
    color: var(--color-backgroun-secondary2);
    font-weight: 500;
    font-size: .65rem;
    line-height: 14px;
    white-space: nowrap;
    text-align: center;
    background: var(--color-font1);
    border-radius: 10px;
    box-shadow: 0 0 0 1px #ffffff;
    transition: background 0.2s;
}


.Pat .main-body .main-background header .search-bar .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 8px;
    color: var(--color-backgroun-main1);
}

.Pat .main-body .main-background .main-content{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: calc(97% - 50px); /* ลบความสูงของ header */
    display: grid;
    grid-template-rows: 6rem 18rem auto;
    margin-inline: auto;
    background: var(--color-backgroun-secondary2);
    border-radius: var(--border-radius-3);
    overflow-y: auto;
}

.Pat .main-body .main-background .main-content .content1,
.Pat .main-body .main-background .main-content .content2,
.Pat .main-body .main-background .main-content .content3 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;

}

/* ------------  content1   ------------------- */

.Pat .main-body .main-background .main-content .content1{
    position: relative;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
}

/* ------------  content2   ------------------- */
.Pat .main-body .main-background .main-content .content2{
    display: flex;
    flex-direction: column;
}

.Pat .main-body .main-background .main-content .content2 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: calc(100px -10px);
    height: 40px;
}

.Pat .main-body .main-background .main-content .content2 .header .btn-add-co2{
    top: 0;
    display: flex;
    justify-content: center;
    padding: 3px 20px;
    color: var(--color-backgroun-secondary2);
    background: var(--color-backgroun-main1);
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius-1);
    font-family:'Noto Sans Thai',sans-serif !important;
}

.Pat .notification-count{
    font-family:'Noto Sans Thai',sans-serif !important;
    color: var(--color-backgroun-main1);
}


.Pat .main-body .main-background .main-content .content2 .header .btn-add-co2:hover{
    background: var(--color-secondary1);
    transform: scale(1.05);
    transition: .5s;
}

.Pat .main-body .main-background .main-content .content2 .note-board{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    background: var(--color-backgroun-secondary3);
}

.Pat .main-body .main-background .main-content .content2 .note-board .content{
    position: relative;
    width: calc(100% -10px);
    height: 100%;
    margin:  0 10px;
}

/* ------------  content3   ------------------- */

.Pat .main-body .main-background .main-content .content3{
    display: flex;
    flex-direction: column;
    background: #f3f3fe7c;
    border-radius: var(--border-radius-2);
}

.Pat .main-body .main-background .main-content .content3 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 11px;
    width: calc(100px -10px);
    height: 40px;
}

.Pat .main-body .main-background .main-content .content3 .header .btn-add-co3{
    top: 0;
    display: flex;
    justify-content: center;
    padding: 3px 20px;
    color: var(--color-backgroun-secondary2);
    background: var(--color-backgroun-main1);
    font-weight: 600;
    border: none;
    text-decoration: none;
    border-radius: var(--border-radius-1);
}

.Pat .main-body .main-background .main-content .content3 .header .btn-add-co3:hover{
    background: var(--color-secondary1);
    transform: scale(1.05);
    transition: .5s;
}

.Pat .main-body .main-background .main-content .content3 .book-boar .content{
    position: relative;
    width: 100%;
    height: 100%;
}

/* ------------  main-bg-right   ------------------- */

.Pat .main-body .main-bg-right{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}


.Pat .main-body .main-bg-right .main-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10rem 21rem auto;
    gap: .5rem;
    background: var(--color-backgroun-secondary2);
    overflow-y: auto;
}

/* ------------  content1   ------------------- */

.Pat .main-body .main-bg-right .main-content .content1{
    position: relative;
    width: 100%;
    height: 100%;
    /* background: var(--color-backgroun-main2); */
}

.Pat .main-body .main-bg-right .main-content .content1 .box{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background: #ffffffd2;
    border-radius: var(--border-radius-2);
    font-family:'Noto Sans Thai',sans-serif;
}

.Pat .main-body .main-bg-right .main-content .content1 .box .profile{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 9rem auto;
}

.Pat .main-bg-right .main-content .content1 .box .profile .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -10px;
    width: 100%;
    /* border-bottom: 2px solid #DADDFA; */
    /* background-color: #868686; */
}

.Pat .main-bg-right .main-content .content1 .box .profile .header .img-profile{
    width: 90px;
    height: 90px;
    margin-bottom: -10px;
}

.Pat .main-bg-right .main-content .content1 .box .profile .header .img-profile img{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #DADDFA;
    object-fit: cover;
    border-radius: var(--border-radius-3);
}

.Pat .main-bg-right .main-content .content1 .box .profile .header h2{
    margin-top: 25px;
    font-size: 1.1rem;
    color: var(--color-font1);
}

.Pat .main-bg-right .main-content .content1 .box .profile .info{
    background-color: #ffffff7d;
    text-align: center;
    font-size: 0.9rem;
    border-radius: var(--border-radius-2);
}

.Pat .main-bg-right .main-content .content1 .box .profile .info p {
    color: var(--color-font4);
}

.Pat .main-bg-right .main-content .content1 .box .profile .info p strong{
    color: var(--color-font1);
}

/* ------------  content2   ------------------- */

.Pat .main-body .main-bg-right .main-content .content2{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 13px);
    margin: 10px;
    border-radius: var(--border-radius-2);

    display: grid;
    grid-template-rows: 3rem auto;
    gap: 1.3rem;

    .box1{
        margin-top: .5rem;
        background-color: var(--color-backgroun-secondary4);
        border-radius: var(--border-radius-1);

        .containerCount{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            color: var(--color-font1);
        }
    }

}

/* ------------  content3   ------------------- */

.Pat .main-body .main-bg-right .main-content .content3{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
    margin: 10px;
    border-radius: var(--border-radius-2);
}


.Pat .notification-item {
    margin-top: 1rem;
}

/* ------------  blur   ------------------- */

#blur.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.234); /* สีดำโปร่งแสง */
    z-index: 1; /* ทำให้เลเยอร์อยู่ข้างหลัง */
    pointer-events: none; /* ป้องกันการโต้ตอบกับเลเยอร์นี้ */
}

#blur.active {
    filter: blur(5px);
    position: relative; /* เพื่อให้ pseudo-element ทำงานได้ถูกต้อง */
}



/* ------------  popup   ------------------- */
#popup{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 30px;
    background: var(--color-backgroun-secondary1);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
}


#popup h2{
    font-weight: 500;
}

#popup .compo-search a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font2);
    gap: 2rem;
}

#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#popupNote {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 0 30px;
    background: var(--color-backgroun-secondary2);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#popupNote .head {
    width: 100%;
    text-align: center;
}

#popupNote .head h2 {
    color: var(--color-backgroun-main1);
    font-size: 2rem;
    font-weight: 700;
}

#popupNote .noteBoard {
    width: calc(100px -20px);
    height: 100%;
    background: var(--color-backgroun-secondary1);
    border-radius: var(--border-radius-2);
    padding: 15px;
    margin-bottom: 20px;
}

#popupNote .noteBoard .head {
    width: 100%;
    height: 15%;
    margin-bottom: 20px;
}

#popupNote .noteBoard .head .titleNote {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-backgroun-main1);
    margin-bottom: 5px;
    background: transparent;
}

#popupNote .noteBoard .head .titleNote.titleNote::placeholder {
    color: var(--color-font2);
}

#popupNote .noteBoard .head .border {
    width: 100%;
    border-bottom: 2px solid var(--color-font2);
}

#popupNote .noteBoard .content  {
    width: 100%;
    height: 80%;
}

#popupNote .noteBoard .content .contentNote{
    padding: 10px;
    width: 100%;
    height: 100%;
    color: var(--color-font1);
    font-size: 1rem;
    border: none;
    resize: none;
    outline: none; 
    background: transparent;
}

#popupNote .noteBoard .content .contentNote::placeholder{
    color: var(--color-font2);
}

#popupNote .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

#popupNote .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popupNote .buttons .btn-cancel {
    padding: 5px 30px;
    font-size: 1rem;
    background: var(--color-buttoon-secondary);
    color: var(--color-backgroun-secondary2);
}

#popupNote .buttons .btn-cancel:hover{
    background: var(--color-backgroun-secondary3);
    color: #bebebe;
    text-shadow: 0 0 10px var(--color-backgroun-main2), 0 0 40px var(--color-backgroun-main2), 0 0 80px var(--color-backgroun-main2);
    transition: .5s;
}

#popupNote .buttons .btn-create {
    padding: 5px 30px;
    background: var(--color-backgroun-main1);
    color: var(--color-backgroun-secondary2);
}

#popupNote .buttons .btn-create:hover{
    background: var(--color-secondary1);
    transform: scale(1.05);
    transition: .5s;
    color: var(--color-backgroun-secondary2);
    text-shadow: 0 0 10px var(--color-backgroun-main2), 0 0 40px var(--color-backgroun-main2), 0 0 80px var(--color-backgroun-main2);
    transition: .5s;
}

#popupNote.active {
    visibility: visible;
    opacity: 1;
}

.Pat .Loading-Data{
    background: url('../../assets/noData.gif');
    background-size: cover;
    background-position: center;
    width: 240px;
    height: 110px; 
    margin-top: 30px;
    border: 5px solid transparent ; 
    border-radius: 10px;
    opacity: 0.5;

}

.Pat .text{
    color: var(--color-font2);
    font-family: 'Noto Sans Thai', sans-serif;
}

.Pat .container {
    font-size: .9rem;
    font-weight: 500;
    color: var(--color-font1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
    width: calc(100% -10px);
    height: calc(100% -10px);
}

.Pat .container div {
    border-bottom: 1px solid #ddd; /* เส้นแบ่งด้านล่าง */
    padding: 4px 0; /* ระยะห่างด้านบนและล่าง */
}

.Pat .container div:last-child{
    border: none;
}

.Pat .container div {
    display: flex;
    align-items: center;
}

.Pat .photo{
    margin-top: -5px;
    width: 100%;
    height: 2rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}